{% load static %}
<!DOCTYPE html>

<!-- =========================================================
* Sneat - Bootstrap 5 HTML Admin Template - Pro | v1.0.0
==============================================================

* Product Page: https://themeselection.com/products/sneat-bootstrap-html-admin-template/
* Created by: ThemeSelection
* License: You must have a valid license purchased in order to legally use the theme for your project.
* Copyright ThemeSelection (https://themeselection.com)

=========================================================
 -->
<!-- beautify ignore:start -->
<html
  lang="en"
  class="light-style layout-menu-fixed"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="{% static 'assets' %}"
  data-template="vertical-menu-template-free"
>

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>ViForce - Dashboard</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />

    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{% static 'assets/js/config.js' %}"></script>
  </head>
<body>

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>

    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="row">
    <p id="not"></p>
                <div class="col-xl-6 m-auto">
                  <h6 class="text-muted">Запис</h6>
                  <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-home" aria-controls="navs-top-home" aria-selected="false">
                          Запис
                        </button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link " role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-profile" aria-controls="navs-top-profile" aria-selected="false">
                          Про нас
                        </button>
                      </li>
<!--                      <li class="nav-item">-->
<!--                        <button type="button" class="nav-link" role="tab" data-bs-toggle="tab" data-bs-target="#navs-top-messages" aria-controls="navs-top-messages" aria-selected="true">-->
<!--                          Messages-->
<!--                        </button>-->
<!--                      </li>-->
                    </ul>
                    <div class="tab-content">
                      <div class="tab-pane show active" id="navs-top-home" role="tabpanel">
                          <form method="POST">
                    <h5 class="card-header">Обирай:</h5>
                    <div class="card-body demo-vertical-spacing demo-only-element">

<!--                      <div class="input-group input-group-merge">-->
<!--                        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>-->
<!--                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">-->
<!--                      </div>-->



<!--  <h2>Filterable List</h2>-->
<!--  <p>Type something in the input field to search the list for specific items:</p>-->
<!--  <input class="form-control" id="myInput" type="text" placeholder="Search..">-->
 <select name="work" class="form-control" id="myInput">
                                            <option value="">Обери процедуру</option>
     {% for work in works %}
                                            <option value="{{ work.id }}">{{ work.name }} - {{ work.price }} грн.</option>
     {% endfor %}
                                        </select>
 <select name="worker" class="form-control" data-work="1" id="myList">
                                            <option value="">Обери майстра</option>
     {% for work in works %}
     {% for worker in work.worker.all %}
                                            <option value="{{ worker.id }}" class="item" data-work="{{ work.id }}">{{ worker.first_name }}</option>
     {% endfor %}{% endfor %}
                                        </select>
<input id="selectDay" type="button" class="btn rounded-pill btn-primary" value="Обрати день" />

<!--                      <small class="text-light fw-semibold">Default</small>-->
<!--                      <div class="demo-inline-spacing">-->
<!--                        <button type="button" class="btn btn-outline-primary">Primary</button>-->
<!--                        <button type="button" class="btn btn-outline-secondary">Secondary</button>-->
<!--                        <button type="button" class="btn btn-outline-success">Success</button>-->
<!--                        <button type="button" class="btn btn-outline-danger">Danger</button>-->
<!--                        <button type="button" class="btn btn-outline-warning">Warning</button>-->
<!--                        <button type="button" class="btn btn-outline-info">Info</button>-->
<!--                        <button type="button" class="btn btn-outline-dark">Dark</button>-->
<!--                      </div>-->
<!--                    -->

                      <div style="display: none;" class="input-group input-group-merge">
                        <input type="text" name="date" id="day" class="form-control">
                      </div>
                    <hr class="m-0">
                      <small class="text-light fw-semibold">1. Обери дату</small>
                        <div class="demo-inline-spacing" id="getDateOfWork">

                        </div>

                        <div style="display: none;" class="input-group input-group-merge">
                            <input type="text" name="time" id="time" class="form-control">
                        </div>
                        <hr class="m-0">
                        <small class="text-light fw-semibold">2. Обери час</small>
                        <div id="getTimeOfWork">
<!--                            <div class="demo-inline-spacing">-->


<!--                            </div>-->
                        </div>
                        <hr class="m-0">
                        <small class="text-light fw-semibold">3. Вкажи контактні дані</small>
                          <div class="row" style="display: none;" id="userInfo">

                        <small class="text-light fw-semibold">Ім'я</small>
                              <div class="input-group input-group-merge col-md-6">
                                <input type="text" name="name" class="form-control" placeholder="Юлія" aria-label="Recipient's username" aria-describedby="basic-addon33">
                              </div>
                              <br>

                        <small class="text-light fw-semibold">Мобільний</small>
                              <div class="input-group input-group-merge col-md-6">
                                  <span class="input-group-text" id="phone">+38</span>
                                <input type="text" name="phone" class="form-control" placeholder="0963322111" aria-label="Recipient's username" aria-describedby="basic-addon33">
                              </div><br>

                            <input type="submit" style="width: 130px;" class="btn rounded-pill btn-primary" value="Записатися" />
                          </div>
                    </div>
                              {% csrf_token %}</form>
<!--                        <button type="button" id="selectDay" class="btn btn-primary">Обрати день</button>-->

<!--  <br>-->
<!--  <ul class="list-group" id="myList">-->
<!--    <li class="list-group-item">First item</li>-->
<!--    <li class="list-group-item">Second item</li>-->
<!--    <li class="list-group-item">Third item</li>-->
<!--    <li class="list-group-item">Fourth</li>-->
<!--  </ul>-->


<!--article.dataset.columns; // "3"-->
<!--article.dataset.indexNumber; // "12314"-->
<!--article.dataset.parent; // "cars"-->


<!--                      <div class="form-password-toggle">-->
<!--                        <label class="form-label" for="basic-default-password32">Password</label>-->
<!--                        <div class="input-group input-group-merge">-->
<!--                          <input type="password" class="form-control" id="basic-default-password32" placeholder="············" aria-describedby="basic-default-password">-->
<!--                          <span class="input-group-text cursor-pointer" id="basic-default-password"><i class="bx bx-hide"></i></span>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge">-->
<!--                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon33">-->
<!--                        <span class="input-group-text" id="basic-addon33">@example.com</span>-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge">-->
<!--                        <span class="input-group-text" id="basic-addon34">https://example.com/users/</span>-->
<!--                        <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon34">-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge">-->
<!--                        <span class="input-group-text">$</span>-->
<!--                        <input type="text" class="form-control" placeholder="100" aria-label="Amount (to the nearest dollar)">-->
<!--                        <span class="input-group-text">.00</span>-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge">-->
<!--                        <span class="input-group-text">With textarea</span>-->
<!--                        <textarea class="form-control" aria-label="With textarea"></textarea>-->
<!--                      </div>-->
<!--                          </form>-->
                      </div>
                      <div class="tab-pane fade" id="navs-top-profile" role="tabpanel">
                          <div class="row">
                              <div class="col-lg-6">
                          <img src="https://i.postimg.cc/XvGFyMnk/20221118-131227-0000.png" style="width: 250px;" alt="" class="brand-img">
                                  </div>
                          <div class="col-lg-6 about-card">
                <h3 class="font-weight-light" style="color: #696cff;">Контакти</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Email</span> : gritsulevich.work@gmail.com</li>
                    <li><span>Телефон</span><a href="tel:+380963207695"> : +380963207695</a>
                    </li>
                    <li><span>Назва</span> : ViForce </li>
                    <li><span>Адреса</span> :  м. Вінниця, вул. Стельмаха 43а</li>
                    <li><span>Сайт</span> :  <a href="#">Переглянути</a> </li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link" href="#"><i class='bx bxl-facebook-circle' ></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class='bx bxl-instagram' ></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class='bx bxl-tiktok' ></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-github" aria-hidden="true"></i></a></li>
                </ul>
                              <style>.social-icons li{
                                  display: inline;
                                }
                                .list-unstyled span{
                                    color: #696cff;
                                }
                                </style>
            </div>
                      </div>
                          </div>
                      <div class="tab-pane fade" id="navs-top-messages" role="tabpanel">
                        <p>
                          Oat cake chupa chups dragée donut toffee. Sweet cotton candy jelly beans macaroon gummies
                          cupcake gummi bears cake chocolate.
                        </p>
                        <p class="mb-0">
                          Cake chocolate bar cotton candy apple pie tootsie roll ice cream apple pie brownie cake. Sweet
                          roll icing sesame snaps caramels danish toffee. Brownie biscuit dessert dessert. Pudding jelly
                          jelly-o tart brownie jelly.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                          <script>
$(document).ready(function () {
    $('#myInput').on('change', function () {
        if ($(this).val() == '') {
            $('.item').show();
        }else{
            var elems = $('.item[data-work="'+this.value+'"]');
            $('.item').not(elems).hide();
            elems.show();
        }
    });
});
$(document).ready(function(){
var nodes = document.getElementById('myList').childNodes;
        for(var i=0; i<nodes.length; i++) {
            if (nodes[i].nodeName.toLowerCase() === 'option') {
                 nodes[i].style.display = "block";
             }
        }


  $("#myInput").click(function() {
    var value = $(this).val().toLowerCase();
    console.log(value)

    $("#myList option").filter(function() {
        return $(this).data("work") == true
        });

    });
  });

function selectday(event){
var allTime = document.getElementsByClassName('allTimeForDate');
        for(var i=0; i<allTime.length; i++) {
                 allTime[i].style.display = "none";
        }
    document.getElementById("day").value = event.target.value;
    document.getElementById(event.target.value).style.display = "block";
    var elems = document.querySelectorAll(".btn-outline-primary.active");
    [].forEach.call(elems, function(el) {
        el.classList.remove("active");
    });
    event.target.setAttribute('class','btn rounded-pill btn-outline-primary active');
    document.getElementById("day").value = event.target.value;
    document.getElementById(event.target.value).style.display = "block";

    }


function selectTime(event){
    document.getElementById("time").value = event.target.value;
    var elems = document.querySelectorAll(".btn-outline-warning.active");
    [].forEach.call(elems, function(el) {
        el.classList.remove("active");
    });
    event.target.setAttribute('class','btn rounded-pill btn-outline-warning active');
    document.getElementById("time").value = event.target.value;
    document.getElementById("userInfo").style.display = "block";
    }

$(document).ready(function(){
$("#selectDay").click(function() {
  var myWork;
  var myWorker;
  var ajaxData
  myWork = document.getElementById('myInput');
  myWorker = document.getElementById('myList');
  ajaxData = {'work': myWork.value, 'worker': myWorker.value};
  var resText = '';
  if( $('#myInput').val() !== '' || $('#myList').val() !== ''){
    $.ajax({
            type: "GET",
            url: '{% url 'get_free_time' company.name company.id %}',
            data: ajaxData,
            success : function(response){




            for (i of Object.keys(response)){
                resText = resText + '<input type="button" onclick="selectday(event)" class="btn rounded-pill btn-outline-primary" value="' + i + '"/>'

                  const newDiv = document.createElement("div");
                  newDiv.style.display = "none";
                  newDiv.setAttribute('id', i);
                  newDiv.setAttribute('class', 'demo-inline-spacing allTimeForDate');
                  var timeText = '<br><small class="text-light fw-semibold">' + i + '</small><hr/>';
                  for (var time of response[i]){
                        timeText = timeText + '<input type="button" onclick="selectTime(event)" class="btn rounded-pill btn-outline-warning" value="' + time + '">'
                  };
                var times = document.getElementById('getTimeOfWork');
                  newDiv.innerHTML = timeText;
                  times.appendChild(newDiv);

            }
            var days = document.getElementById('getDateOfWork');
            days.innerHTML = resText;



            },
            error: function(data)
            {
var notes = document.getElementById('not');
var text = '<div class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 start-50 translate-middle-x show" role="not" aria-live="assertive" aria-atomic="true"><div class="toast-header"><i class="bx bx-bell me-2"></i><div class="me-auto fw-semibold">Не коректні дані</div><small>щойно</small><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button></div><div class="toast-body">Всі поля мають бути заповнені. Перевірте будь-ласка вірність введених вими даних.</div></div>'
notes.innerHTML = text;
            }
          });
}
else{
var notes = document.getElementById('not');
var text = '<div class="bs-toast toast toast-placement-ex m-2 fade bg-warning top-0 start-50 translate-middle-x show" role="not" aria-live="assertive" aria-atomic="true"><div class="toast-header"><i class="bx bx-bell me-2"></i><div class="me-auto fw-semibold">Не коректні дані</div><small>щойно</small><button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button></div><div class="toast-body">Всі поля мають бути заповнені. Перевірте будь-ласка вірність введених вими даних.</div></div>'
notes.innerHTML = text;
}
});});
</script>
</body></html>
<!--<!DOCTYPE html>-->
<!--<html>-->

<!--&lt;!&ndash; Mirrored from colorlib.com/etc/bwiz/colorlib-wizard-1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Nov 2022 18:21:56 GMT &ndash;&gt;-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>FormWizard_v1</title>-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--<meta name="author" content="colorlib.com">-->

<!--<link rel="stylesheet" href="{% static 'company/record/fonts/material-design-iconic-font/css/material-design-iconic-font.css' %}">-->

<!--<link rel="stylesheet" href="{% static 'company/record/css/style.css' %}">-->
<!--<meta name="robots" content="noindex, follow">-->
<!--<script nonce="cf300e54-1d1c-4f66-9fc5-6585537e5093">(function(w,d){!function(e,f,g,h){e.zarazData=e.zarazData||{};e.zarazData.executed=[];e.zaraz={deferred:[],listeners:[]};e.zaraz.q=[];e.zaraz._f=function(i){return function(){var j=Array.prototype.slice.call(arguments);e.zaraz.q.push({m:i,a:j})}};for(const k of["track","set","debug"])e.zaraz[k]=e.zaraz._f(k);e.zaraz.init=()=>{var l=f.getElementsByTagName(h)[0],m=f.createElement(h),n=f.getElementsByTagName("title")[0];n&&(e.zarazData.t=f.getElementsByTagName("title")[0].text);e.zarazData.x=Math.random();e.zarazData.w=e.screen.width;e.zarazData.h=e.screen.height;e.zarazData.j=e.innerHeight;e.zarazData.e=e.innerWidth;e.zarazData.l=e.location.href;e.zarazData.r=f.referrer;e.zarazData.k=e.screen.colorDepth;e.zarazData.n=f.characterSet;e.zarazData.o=(new Date).getTimezoneOffset();if(e.dataLayer)for(const r of Object.entries(Object.entries(dataLayer).reduce(((s,t)=>({...s[1],...t[1]})))))zaraz.set(r[0],r[1],{scope:"page"});e.zarazData.q=[];for(;e.zaraz.q.length;){const u=e.zaraz.q.shift();e.zarazData.q.push(u)}m.defer=!0;for(const v of[localStorage,sessionStorage])Object.keys(v||{}).filter((x=>x.startsWith("_zaraz_"))).forEach((w=>{try{e.zarazData["z_"+w.slice(7)]=JSON.parse(v.getItem(w))}catch{e.zarazData["z_"+w.slice(7)]=v.getItem(w)}}));m.referrerPolicy="origin";m.src="../../../cdn-cgi/zaraz/sd0d9.js?z="+btoa(encodeURIComponent(JSON.stringify(e.zarazData)));l.parentNode.insertBefore(m,l)};["complete","interactive"].includes(f.readyState)?zaraz.init():e.addEventListener("DOMContentLoaded",zaraz.init)}(w,d,0,"script");})(window,document);</script></head>-->
<!--<body>-->
<!--<div class="wrapper">-->
<!--<form action="#" id="wizard">-->

<!--<h2></h2>-->
<!--<section>-->
<!--<div class="inner">-->
<!--<div class="image-holder">-->
<!--<img src="images/form-wizard-1.jpg" alt="">-->
<!--</div>-->
<!--<div class="form-content">-->
<!--<div class="form-header">-->
<!--<h3>Запис ViForce</h3>-->
<!--</div>-->
<!--<p>Внесіть всі дані</p>-->
<!--<div class="form-row">-->
<!--<div class="form-holder">-->
<!--<input type="text" placeholder="Ім'я" class="form-control">-->
<!--</div>-->
<!--<div class="form-holder">-->
<!--<input type="text" placeholder="Фамілія" class="form-control">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-row">-->
<!-- <div class="select">-->
<!--<div class="form-holder">-->
<!--<div class="select-control">Your country</div>-->
<!--<i class="zmdi zmdi-caret-down"></i>-->
<!--</div>-->
<!--<ul class="dropdown" style="display: none;">-->
<!--{% for i in works %}-->
<!-- <li rel="United States">{{ i.name }}</li>-->
<!-- {% endfor %}-->
<!--<li rel="United Kingdom">United Kingdom</li>-->
<!--<li rel="Viet Nam">Viet Nam</li>-->
<!--</ul>-->
<!--</div>-->


<!-- <div class="form-holder">-->
<!--<input type="text" placeholder="Мобільний" class="form-control">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-row">-->
<!--<div class="form-holder">-->
<!--<input type="text" id="workers" placeholder="Age" class="form-control">-->
<!--</div>-->
<!--<div class="form-holder" style="align-self: flex-end; transform: translateY(4px);">-->
<!--<div class="checkbox-tick">-->
<!--<label class="male">-->
<!--<input type="radio" name="gender" value="male" checked> Male<br>-->
<!--<span class="checkmark"></span>-->
<!--</label>-->
<!--<label class="female">-->
<!--<input type="radio" name="gender" value="female"> Female<br>-->
<!--<span class="checkmark"></span>-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="checkbox-circle">-->
<!--<label>-->
<!--<input type="checkbox" checked> Nor again is there anyone who loves or pursues or desires to obtaini.-->
<!--<span class="checkmark"></span>-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!--<h2></h2>-->
<!--<section>-->
<!--<div class="inner">-->
<!--<div class="image-holder">-->
<!--<img src="images/form-wizard-2.jpg" alt="">-->
<!--</div>-->
<!--<div class="form-content">-->
<!--<div class="form-header">-->
<!--<h3>Registration</h3>-->
<!--</div>-->
<!--<p>Please fill with additional info</p>-->
<!--<div class="form-row">-->
<!--<div class="form-holder w-100">-->
<!--<input type="text" placeholder="Address" class="form-control">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-row">-->
<!--<div class="form-holder">-->
<!--<input type="text" placeholder="City" class="form-control">-->
<!--</div>-->
<!--<div class="form-holder">-->
<!--<input type="text" placeholder="Zip Code" class="form-control">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-row">-->
<!--<div class="select">-->
<!--<div class="form-holder">-->
<!--<div class="select-control">Your country</div>-->
<!--<i class="zmdi zmdi-caret-down"></i>-->
<!--</div>-->
<!--<ul class="dropdown">-->
<!--<li rel="United States">United States</li>-->
<!--<li rel="United Kingdom">United Kingdom</li>-->
<!--<li rel="Viet Nam">Viet Nam</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="form-holder"></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<!--<h2></h2>-->
<!--<section>-->
<!--<div class="inner">-->
<!--<div class="image-holder">-->
<!-- <img src="images/form-wizard-3.jpg" alt="">-->
<!--</div>-->
<!--<div class="form-content">-->
<!--<div class="form-header">-->
<!--<h3>Registration</h3>-->
<!--</div>-->
<!--<p>Send an optional message</p>-->
<!--<div class="form-row">-->
<!--<div class="form-holder w-100">-->
<!--<textarea name="" id="" placeholder="Your messagere here!" class="form-control" style="height: 99px;"></textarea>-->
<!--</div>-->
<!--</div>-->
<!--<div class="checkbox-circle mt-24">-->
<!--<label>-->
<!--<input type="checkbox" checked> Please accept <a href="#">terms and conditions ?</a>-->
<!--<span class="checkmark"></span>-->
<!--</label>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--</form>-->
<!--</div>-->

<!--<script src="{% static 'company/record/js/jquery-3.3.1.min.js' %}"></script>-->

<!--<script src="{% static 'company/record/js/jquery.steps.js' %}"></script>-->
<!--<script src="{% static 'company/record/js/main.js' %}"></script>-->


<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>-->
<!--<script>-->
<!--  window.dataLayer = window.dataLayer || [];-->
<!--  function gtag(){dataLayer.push(arguments);}-->
<!--  gtag('js', new Date());-->

<!--  gtag('config', 'UA-23581568-13');-->
<!--</script>-->
<!--<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"76b23fb3cf642de8","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}' crossorigin="anonymous"></script>-->
<!--</body>-->

<!--&lt;!&ndash; Mirrored from colorlib.com/etc/bwiz/colorlib-wizard-1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 16 Nov 2022 18:21:58 GMT &ndash;&gt;-->
<!--</html>-->
