{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                    />
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href="https://github.com/themeselection/sneat-html-admin-template-free"
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                    >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/1.png" alt
                                                 class="w-px-40 h-auto rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">John Doe</span>
                                        <small class="text-muted">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper h-100">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y h-100">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Таблиця /</span> ГРАФІК РОБОТИ</h4>
            <ul class="nav nav-pills flex-column flex-md-row mb-3">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'worker' %}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd"
                                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        Додати майстра</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'workers' %}"><i class="bx bx-user me-1"></i> Майстри</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        Графік</a>
                </li>
            </ul>

            <!--                      >-->
            <!--                    </li>-->
            <!--                  </ul>-->
            <!--              &lt;!&ndash; Basic Bootstrap Table &ndash;&gt;-->
            <!--              <div class="card">-->
            <!--                <h5 class="card-header">Table Basic</h5>-->
            <!--                <div class="table-responsive text-nowrap">-->
            <!--                  <table class="table">-->
            <!--                    <thead>-->
            <!--                      <tr>-->
            <!--                        <th>Project</th>-->
            <!--                        <th>Client</th>-->
            <!--                        <th>Users</th>-->
            <!--                        <th>Status</th>-->
            <!--                        <th>Actions</th>-->
            <!--                      </tr>-->
            <!--                    </thead>-->
            <!--                    <tbody class="table-border-bottom-0">-->
            <!--                      <tr>-->
            <!--                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>Angular Project</strong></td>-->
            <!--                        <td>Albert Cook</td>-->
            <!--                        <td>-->
            <!--                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Lilian Fuller"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Sophia Wilkerson"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Christina Parker"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                          </ul>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-primary me-1">Active</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-1"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-primary me-1">Active</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-1"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-primary me-1">Active</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-1"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-primary me-1">Active</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-1"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-primary me-1">Active</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-1"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                      </tr>-->
            <!--                      <tr>-->
            <!--                        <td><i class="fab fa-react fa-lg text-info me-3"></i> <strong>React Project</strong></td>-->
            <!--                        <td>Barry Hunter</td>-->
            <!--                        <td>-->
            <!--                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Lilian Fuller"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Sophia Wilkerson"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Christina Parker"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                          </ul>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-success me-1">Completed</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-2"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-2"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                      </tr>-->
            <!--                      <tr>-->
            <!--                        <td><i class="fab fa-vuejs fa-lg text-success me-3"></i> <strong>VueJs Project</strong></td>-->
            <!--                        <td>Trevor Baker</td>-->
            <!--                        <td>-->
            <!--                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Lilian Fuller"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Sophia Wilkerson"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Christina Parker"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                          </ul>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-info me-1">Scheduled</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-2"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-2"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                      </tr>-->
            <!--                      <tr>-->
            <!--                        <td>-->
            <!--                          <i class="fab fa-bootstrap fa-lg text-primary me-3"></i> <strong>Bootstrap Project</strong>-->
            <!--                        </td>-->
            <!--                        <td>Jerry Milton</td>-->
            <!--                        <td>-->
            <!--                          <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Lilian Fuller"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Sophia Wilkerson"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                            <li-->
            <!--                              data-bs-toggle="tooltip"-->
            <!--                              data-popup="tooltip-custom"-->
            <!--                              data-bs-placement="top"-->
            <!--                              class="avatar avatar-xs pull-up"-->
            <!--                              title="Christina Parker"-->
            <!--                            >-->
            <!--                              <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle" />-->
            <!--                            </li>-->
            <!--                          </ul>-->
            <!--                        </td>-->
            <!--                        <td><span class="badge bg-label-warning me-1">Pending</span></td>-->
            <!--                        <td>-->
            <!--                          <div class="dropdown">-->
            <!--                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">-->
            <!--                              <i class="bx bx-dots-vertical-rounded"></i>-->
            <!--                            </button>-->
            <!--                            <div class="dropdown-menu">-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-edit-alt me-2"></i> Edit</a-->
            <!--                              >-->
            <!--                              <a class="dropdown-item" href="javascript:void(0);"-->
            <!--                                ><i class="bx bx-trash me-2"></i> Delete</a-->
            <!--                              >-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </td>-->
            <!--                      </tr>-->
            <!--                    </tbody>-->
            <!--                  </table>-->
            <!--                </div>-->
            <!--              </div>-->
            <div class="card"><form method="post">
                <h5 class="card-header">Графік роботи</h5>


                <div class="table-responsive text-nowrap">
                        <table class="table">
                        <thead>
                        <tr class="text-nowrap">
                            <th>ід</th>
                            <th>Ім'я</th>
                            <th>Фамілія</th>
                            <!--          дні -->
                            {% for day in days %}
                            <th>{{day.day}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in worker %}
                        <tr>
                            <th scope="row">{{i.id}}</th>
                            <td><strong>{{ i.first_name }}</strong></td>
                            <td>{{ i.last_name }}</td>
                            {% for day in days %}
                            <td>
                                <div class="col-3 text-end">
                                    <div class="form-check form-switch">

                                        {% if day.day in i.day %}
                                            <input name="{{ i.id }}_{{ day.day }}" class="form-check-input float-end" type="checkbox" role="switch" checked>
                                        {% else %}
                                            <input name="{{ i.id }}_{{ day.day }}" class="form-check-input float-end" type="checkbox" role="switch">
                                        {% endif %}
                                    </div>
                                </div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}

                          {% csrf_token %}
                        </tbody>
                    </table>


                </div>
            </div><div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Зберегти</button>
                <button type="reset" class="btn btn-outline-secondary">Скасувати</button>
            </div> </form>

<!--            <select name="user_cars[]" multiple="multiple" size="4">-->
<!--  <option value="1">Nissan</option>-->
<!--  <option value="2">Toyota</option>-->
<!--  <option value="3">BMW</option>-->
<!--  <option value="4">Wolksvagen</option>-->
<!--  <option value="5">Skoda</option>-->
<!--  <option value="6">Mercedes-Benz</option>-->
<!--</select>-->
<!--            <select  required="required">-->


<!--  <option>Пункт 1</option>-->


<!--  <option>Пункт 2</option>-->


<!--</select>-->
            <!--/ Basic Bootstrap Table -->

            <hr class="my-5"/>


            <!-- / Content -->
            {% endblock %}