{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                    />
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href="https://github.com/themeselection/sneat-html-admin-template-free"
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                    >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/1.png" alt
                                                 class="w-px-40 h-auto rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">John Doe</span>
                                        <small class="text-muted">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Дашборд /</span> Створити запис</h4>

            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <h5 class="card-header">Створити запис</h5>
                        <hr class="my-0"/>
                        <div class="card-body">
                            <form id="formAccountSettings" method="POST">
                                <div class="row">
                                    <div class="mb-3 col-md-6" id="finds_users">
                                        <label class="form-label" for="phoneNumber">Мобільний</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">UA (+38)</span>
                                            <input
                                                    type="text"
                                                    id="phoneNumber"
                                                    name="phoneNumber"
                                                    class="form-control"
                                                    placeholder="099 555 0111"
                                                    onkeyup="getWorker()"
                                                    autofocus
                                                    value="{{ record.user.phone_number }}"
                                            >
                                        </div>
                                        <ul style = 'display: none;' id="myUL">
                                        </ul>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="name" class="form-label">Ім'я</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="name"
                                                name="name"
                                                value="{{ record.user.name }}"
                                        />
                                    </div>
                                    <div style = "display: none;" class="mb-3 col-md-6">
                                        <label for="user_id" class="form-label">user</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="user_id"
                                                name="user_id"
                                        />
                                    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                                    <script>
$(document).on('click', "[id='user']", function(){
console.log($(this).data('value'));
document.getElementById("phoneNumber").value = $(this).attr('data-phone')
document.getElementById("name").value = $(this).attr('value')
document.getElementById("user_id").value = $(this).attr('data-id')

});

  document.onclick = function(e) {
    document.getElementById("myUL").style.display = "none";}
                                    console.log("hi")

function getWorker() {
  // Declare variables
  var input;
  var list_users = document.getElementById("myUL");
  if (list_users !== null){
  document.getElementById("myUL").style.display = "block";
  list_users.remove();}
  input = document.getElementById('phoneNumber');
  var lox = {'text':input.value};
    $.ajax({

            type: "GET",
            url: '{% url 'get_inf' %}',
            data: lox,
            success : function(response){
            var newDiv = document.createElement("ul");
            newDiv.setAttribute('id','myUL');
            var text = "";
            for (let i = 0; i < response.users.length; i++) {
                var finds_users = document.getElementById('finds_users')
                console.log(response.users[i].id)
                text += '<li><input type="button" id="user" data-phone="' + response.users[i].phone + '" data-id="' + response.users[i].id + '"href="#" value="' + response.users[i].name + '"></li>';

            }
            newDiv.innerHTML = text;
            finds_users.appendChild(newDiv);
            console.log("ok")
        },error: function(data){
        console.log("no")
        }
        });
        console.log(document.getElementById("user"))


}

</script>
                                    <style>#myUL {
                                    position: absolute;
  /* Remove default list styling */
  z-index:  100;
  width = 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li input {
width: 200px;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}</style>

                                    <div class="mb-3 col-md-6">
<!--                                        <label for="username" class="form-label">Процедура</label>-->
<!--                                        <input-->
<!--                                                type="text"-->
<!--                                                class="form-control"-->
<!--                                                id="username"-->
<!--                                                name="username"-->
<!--                                                value=""-->
<!--                                        />-->

                                        <label class="form-label" for="pet-select">Процедура:</label>

                                        <select name="pets" class="form-control" id="pet-select">
                                            <option value="">Тисни та обирай</option>
                                            {% for i in works %}
                                            <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
<!--                                        <label for="username" class="form-label">Процедура</label>-->
<!--                                        <input-->
<!--                                                type="text"-->
<!--                                                class="form-control"-->
<!--                                                id="username"-->
<!--                                                name="username"-->
<!--                                                value=""-->
<!--                                        />-->

                                        <label class="form-label">Майстер:</label>

                                        <select name="worker" class="form-control">
                                            <option value="">Тисни та обирай</option>
                                            {% for i in workers %}
                                            <option value="{{ i.id }}">{{ i.first_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-12">
                                        <label for="html5-datetime-local-input" class="form-label">Дата та час</label>
                                    <input class="form-control" name="datetime" step="1800" type="datetime-local" value="{{ record.day }}T{{ record.start_time }}:00" id="html5-datetime-local-input">
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="note" class="form-label">Примітка</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="note"
                                                name="note"
                                                placeholder="Не обов'язково"
                                                value="{{ record.comment }}"
                                        />

                                    </div>
                                </div>
                               <div class="mb-3 col-12 mb-0">
                                    <div class="alert alert-warning">
                                        <h6 class="alert-heading fw-bold mb-1">Створюючи запис:</h6>
                                        <p class="mb-0">Ти маєш вказати мобільний, який зареєстрований в telegram, якщо він користувався вашим ботом, він отримає сповіщення про запис та йому надійде нагадування.</p>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary me-2">Записати</button>
                                    <button type="reset" class="btn btn-outline-secondary">Скасувати</button>
                                </div>
                            </form>
                                  <script>
function deleteRecord(id) {
  var lox = {'id':id, 'csrfmiddlewaretoken':'{{ csrf_token }}'};
    $.ajax({
            type: "POST",
            url: '{% url 'delete_record' %}',
            data: lox,
            success : function(response){

            alert("Скасовано")
            },
            error: function(data){
            alert("Не скасовано")
            }
            });


}
</script>
                        </div>
                        {% endblock %}
