{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                  >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Користувачі/</span> Розсилка</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Надішли всім користувачам повідомлення</h5>
                      <small class="text-muted float-end">Внось дані</small>
                    </div>
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST">
                        <div class="mb-3">
                          <label class="form-label" for="name">Заголовок</label>
                          <input type="text" class="form-control" name='name' id="name" placeholder="Акція тижня" />
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="photo">Зображення</label>
                          <input type="text" class="form-control" name='photo' id="photo" placeholder="https://photo.com/sales.jpg" />
                        </div>
<!--                        <div class="mb-3">-->
<!--                          <label class="form-label" for="company">Token</label>-->
<!--                          <div class="input-group input-group-merge">-->
<!--                            <input-->
<!--                              type="text"-->
<!--                              name='token'-->
<!--                              id="company"-->
<!--                              class="form-control"-->
<!--                            />-->
<!--                            <span class="input-group-text" id="basic-default-email2">TOKEN</span>-->
<!--                          </div>-->
<!--                          <div class="form-text">Це необхідно, щоб розсилка пішла з вашого бота</div>-->
<!--                        </div>-->
                        <div class="mb-3">
                          <label class="form-label" for="chat_id">Свій ід (попередній перегляд, без нього розсилка всім)</label>
                          <div class="input-group input-group-merge">
                            <input
                                    name='chat_id'
                              type="text"
                              id="chat_id"

                            placeholder="537238295"
                              class="form-control"
                            />
                            <span class="input-group-text" id="basic-default-email1">/get_chat_id</span>
                          </div>
                          <div class="form-text">Якщо вказане це поле, повідомлення прийде тільки за ним, інакше всім</div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="descriptions">Опис</label>
                          <textarea
                            id="descriptions"
                            name='descriptions'
                            class="form-control"
                            placeholder="Коротенько опиши, щоб я купив"
                          ></textarea>
                          {% csrf_token %}
                        </div>

                        <button type="submit" class="btn btn-primary">Зберегти</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

{% endblock %}