{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                    />
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href="https://github.com/themeselection/sneat-html-admin-template-free"
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                    >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/1.png" alt
                                                 class="w-px-40 h-auto rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">John Doe</span>
                                        <small class="text-muted">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Дашборд /</span> Створити запис</h4>

            <div class="row">
                <div class="col-md-12">
<!--                    <ul class="nav nav-pills flex-column flex-md-row mb-3">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" href="javascript:void(0);">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                                     class="bi bi-person-plus" viewBox="0 0 16 16">-->
<!--                                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>-->
<!--                                    <path fill-rule="evenodd"-->
<!--                                          d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>-->
<!--                                </svg>-->
<!--                                Додати майстра</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'workers' %}"-->
<!--                            ><i class="bx bx-user me-1"></i> Майстри</a-->
<!--                            >-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="{% url 'calendar' %}">-->
<!--                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"-->
<!--                                     class="bi bi-calendar" viewBox="0 0 16 16">-->
<!--                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>-->
<!--                                </svg>-->
<!--                                Графік</a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <div class="card mb-4">
                        <h5 class="card-header">Створити запис</h5>
                        <!-- Account -->
                        <!--                    <div class="card-body">-->
                        <!--                      <div class="d-flex align-items-start align-items-sm-center gap-4">-->
                        <!--                        <img-->
                        <!--                          src="../assets/img/avatars/1.png"-->
                        <!--                          alt="user-avatar"-->
                        <!--                          class="d-block rounded"-->
                        <!--                          height="100"-->
                        <!--                          width="100"-->
                        <!--                          id="uploadedAvatar"-->
                        <!--                        />-->
                        <!--                        <div class="button-wrapper">-->
                        <!--                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">-->
                        <!--                            <span class="d-none d-sm-block">Upload new photo</span>-->
                        <!--                            <i class="bx bx-upload d-block d-sm-none"></i>-->
                        <!--                            <input-->
                        <!--                              type="file"-->
                        <!--                              id="upload"-->
                        <!--                              class="account-file-input"-->
                        <!--                              hidden-->
                        <!--                              accept="image/png, image/jpeg"-->
                        <!--                            />-->
                        <!--                          </label>-->
                        <!--                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">-->
                        <!--                            <i class="bx bx-reset d-block d-sm-none"></i>-->
                        <!--                            <span class="d-none d-sm-block">Reset</span>-->
                        <!--                          </button>-->

                        <!--                          <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>-->
                        <!--                        </div>-->
                        <!--                      </div>-->
                        <!--                    </div>-->

                        <hr class="my-0"/>
                        <div class="card-body">
                            <form id="formAccountSettings" method="POST">
                                <div class="row">
                                    <div class="mb-3 col-md-6" id="finds_users">
                                        <label class="form-label" for="phoneNumber">Мобільний</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">UA (+38)</span>
                                            <input
                                                    type="text"
                                                    id="phoneNumber"
                                                    name="phoneNumber"
                                                    class="form-control"
                                                    placeholder="099 555 0111"
                                                    onkeyup="getWorker()"
                                                    autofocus
                                            >
                                        </div>
                                        <ul style = 'display: none;' id="myUL">
                                        </ul>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="name" class="form-label">Ім'я</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="name"
                                                name="name"
                                        />
                                    </div>
                                    <div style = "display: none;" class="mb-3 col-md-6">
                                        <label for="user_id" class="form-label">user</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="user_id"
                                                name="user_id"
                                        />
                                    </div>

<!--                                    <div style = "display: none;" class="mb-3 col-md-6">-->
<!--                                        <label for="price" class="form-label">price</label>-->
<!--                                        <input-->
<!--                                                class="form-control"-->
<!--                                                type="text"-->
<!--                                                id="price"-->
<!--                                                name="price"-->
<!--                                        />-->
<!--                                    </div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                                    <script>
$(document).on('click', "[id='user']", function(){
console.log($(this).data('value'));
document.getElementById("phoneNumber").value = $(this).attr('data-phone')
document.getElementById("name").value = $(this).attr('value')
document.getElementById("user_id").value = $(this).attr('data-id')
document.getElementById("commentOfUser").textContent  = $(this).attr('data-comment')

});

  document.onclick = function(e) {
    document.getElementById("myUL").style.display = "none";}
                                    console.log("hi")

function getWorker() {
  // Declare variables
  var input;
  var list_users = document.getElementById("myUL");
  if (list_users !== null){
  document.getElementById("myUL").style.display = "block";
  list_users.remove();}
  input = document.getElementById('phoneNumber');
  var lox = {'text':input.value};
    $.ajax({
            type: "GET",
            url: '{% url 'get_inf' %}',
            data: lox,
            success : function(response){
            var newDiv = document.createElement("ul");
            newDiv.setAttribute('id','myUL');
            var text = "";
            for (let i = 0; i < response.users.length; i++) {
                var finds_users = document.getElementById('finds_users')
                console.log(response.users[i].id)
                text += '<li><input type="button" id="user" data-comment="' + response.users[i].comment + '"  data-phone="' + response.users[i].phone + '" data-id="' + response.users[i].id + '"href="#" value="' + response.users[i].name + '"></li>';

            }
            newDiv.innerHTML = text;
            finds_users.appendChild(newDiv);
            console.log("ok")
        },error: function(data){
        console.log("no")
        }
        });
        console.log(document.getElementById("user"))


}

</script>
<!--                                    '<li><a id="' + response.users[i].id + '"href="#">' + response.users[i].name + '</a></li>';-->
                                    <style>#myUL {
                                    position: absolute;
  /* Remove default list styling */
  z-index:  100;
  width = 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li input {
width: 200px;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}</style>

                                    <div class="mb-3 col-md-6">
<!--                                        <label for="username" class="form-label">Процедура</label>-->
<!--                                        <input-->
<!--                                                type="text"-->
<!--                                                class="form-control"-->
<!--                                                id="username"-->
<!--                                                name="username"-->
<!--                                                value=""-->
<!--                                        />-->

                                        <label class="form-label" for="pet-select">Процедура:</label>

                                        <select name="pets" class="form-control" id="pet-select">
                                            <option value="">Тисни та обирай</option>
                                            {% for i in work %}
                                            <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="mb-3 col-md-6">
                                        <label for="note" class="form-label">Примітка</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="note"
                                                name="note"
                                                placeholder="Не обов'язково"
                                        />

                                    </div>
                                    <div style = "display: none;" class="mb-3 col-md-6">
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="time"
                                                value="{{ time }}"
                                        />

                                    </div>
                                    <div style = "display: none;" class="mb-3 col-md-6">
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="day"
                                                value="{{ day }}"
                                        />

                                    </div>
                                    <div style = "display: none;" class="mb-3 col-md-6">
                                        <input
                                                class="form-control"
                                                type="text"
                                                name="worker"
                                                value="{{ worker }}"
                                        />

                                    </div>
<!--                                    <div class="mb-3 col-md-6">-->
<!--                                        <label for="token" class="form-label">Token бота (для відображення)</label>-->
<!--                                        <input type="text" class="form-control" id="token" name="token"-->
<!--                                               placeholder="135454:token"/>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-md-6">-->
<!--                                        <label for="chat_id" class="form-label">Час</label>-->
<!--                                        <input class="form-control" type="text" id="chat_id" name="chat_id"-->
<!--                                               placeholder="313545461"/>-->
<!--                                    </div>-->
<!--                                    <div class="mb-3 col-md-6">-->
<!--                                        <label for="photo" class="form-label">Посилання на фото</label>-->
<!--                                        <input class="form-control" type="text" id="photo" name="photo"-->
<!--                                               placeholder="https://photo.com/krasunya.jpg"/>-->
<!--                                    </div>-->
                                </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="form-label">Інформація про клієнта:</label>
                                        <p class="" id="commentOfUser"></p>
                                    </div>
                                <div class="mb-3 col-12 mb-0">
                                    <div class="alert alert-warning">
                                        <h6 class="alert-heading fw-bold mb-1">Створюючи запис:</h6>
                                        <p class="mb-0">Ти маєш вказати мобільний, який зареєстрований в telegram, якщо він користувався вашим ботом, він отримає сповіщення про запис та йому надійде нагадування.</p>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary me-2">Записати</button>
                                    <button type="reset" class="btn btn-outline-secondary">Скасувати</button>
                                </div>
                            </form>
                        </div>

                        <!-- /Account -->
                        <!--                  </div>-->
                        <!--                  <div class="card">-->
                        <!--                    <h5 class="card-header">Delete Account</h5>-->
                        <!--                    <div class="card-body">-->
                        <!--                      <div class="mb-3 col-12 mb-0">-->
                        <!--                        <div class="alert alert-warning">-->
                        <!--                          <h6 class="alert-heading fw-bold mb-1">Додаючи майстра ти погоджуєшся:</h6>-->
                        <!--                          <p class="mb-0">Що кожен хто користується ботом, буде бачити інформацію про майстра. Зможе записатись до нього.</p>-->
                        <!--                        </div>-->
                        <!--                      </div>-->
                        <!--                      <form id="formAccountDeactivation" onsubmit="return false">-->
                        <!--                        <div class="form-check mb-3">-->
                        <!--                          <input-->
                        <!--                            class="form-check-input"-->
                        <!--                            type="checkbox"-->
                        <!--                            name="accountActivation"-->
                        <!--                            id="accountActivation"-->
                        <!--                          />-->
                        <!--                          <label class="form-check-label" for="accountActivation"-->
                        <!--                            >I confirm my account deactivation</label-->
                        <!--                          >-->
                        <!--                        </div>-->
                        <!--                        <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>-->
                        <!--                      </form>-->
                        <!--                    </div>-->
                        <!--                  </div>-->
                        <!--                </div>-->
                        <!--              </div>-->
                        <!--            </div>-->
                        <!-- / Content -->

                        <!-- / Footer -->
                        {% endblock %}
