{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page" xmlns="http://www.w3.org/1999/html">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <form method="get">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                            type="text"
                            name="client"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                            value="{{ data.client }}"
                    />
                </div></form>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href="https://github.com/themeselection/sneat-html-admin-template-free"
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                    >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/1.png" alt
                                                 class="w-px-40 h-auto rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">John Doe</span>
                                        <small class="text-muted">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

<!--        <div class="container-xxl flex-grow-1 container-p-y">-->
<!--            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><strong><a href="{% url 'dashboard' %}">Записи</a></strong> /</span> Пошук</h4>-->
<!--            &lt;!&ndash; Basic Bootstrap Table &ndash;&gt;-->
<!--            <div class="col-md-12">-->
<!--                  <div class="card mb-4">-->
<!--                    <h5 class="card-header">Merged</h5>-->
<!--                    <div class="card-body row col-md-12 demo-vertical-spacing demo-only-element">-->
<!--                      <div class="input-group input-group-merge">-->
<!--                        <span class="input-group-text" id="basic-addon-search31"><i class="bx bx-search"></i></span>-->
<!--                        <input type="text" class="form-control" placeholder="Search..." aria-label="Search..." aria-describedby="basic-addon-search31">-->
<!--                      </div>-->

<!--                      <div class="form-password-toggle col-md-5">-->
<!--                        <label class="form-label" for="basic-default-password32">Password</label>-->
<!--                        <div class="input-group input-group-merge">-->
<!--                          <input type="password" class="form-control" id="basic-default-password32" placeholder="············" aria-describedby="basic-default-password">-->
<!--                          <span class="input-group-text cursor-pointer" id="basic-default-password"><i class="bx bx-hide"></i></span>-->
<!--                        </div>-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge col-md-5">-->
<!--                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon33">-->
<!--                        <span class="input-group-text" id="basic-addon33">@example.com</span>-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge col-md-6">-->
<!--                        <span class="input-group-text" id="basic-addon34">https://example.com/users/</span>-->
<!--                        <input type="text" class="form-control" id="basic-url3" aria-describedby="basic-addon34">-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge col-md-6">-->
<!--                        <span class="input-group-text">$</span>-->
<!--                        <input type="text" class="form-control" placeholder="100" aria-label="Amount (to the nearest dollar)">-->
<!--                        <span class="input-group-text">.00</span>-->
<!--                      </div>-->

<!--                      <div class="input-group input-group-merge col-md-6">-->
<!--                        <span class="input-group-text">With textarea</span>-->
<!--                        <textarea class="form-control" aria-label="With textarea"></textarea>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"><strong><a href="{% url 'dashboard' %}">Записи</a></strong> /</span> Пошук</h4>
            <!-- Basic Bootstrap Table -->
            <div class="col-md-12 card mb-3 p-3">
                <form method="get">
            <div class="row">
                                    <div class="mb-3 col-md-3" id="finds_users">
                                        <label class="form-label" for="phoneNumber">Мобільний</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">UA (+38)</span>
                                            <input
                                                    type="text"
                                                    id="phoneNumber"
                                                    name="phone"
                                                    class="form-control"
                                                    placeholder="099 555 0111"
                                                    onkeyup="getWorker()"
                                                    value="{{ data.phone }}"
                                                    autofocus
                                            >
                                        </div>
                                    </div>

                                            <input
                                                    style = 'display: none;'
                                                    type="text"
                                                    name="client"
                                                    value="{{ data.client }}"
                                            >
                                    <div class="mb-3 col-md-3">
                                        <label for="name" class="form-label">Ім'я</label>
                                        <input
                                                class="form-control"
                                                type="text"
                                                id="name"
                                                name="name"
                                                value="{{ data.name }}"
                                        />
                                    </div>
                                    <div class="mb-3 col-md-3">
                                        <label for="html5-datetime-local-input" class="form-label">Від</label>
                                        <input class="form-control col-md-6" name="from" type="date" value="{{ data.from }}" id="html5-datetime-local-input">
                                        </div>
                <div class="mb-3 col-md-3">
                                        <label for="html5-datetime-local-input" class="form-label">До</label>
                                        <input class="form-control col-md-6" name="to" type="date" value="{{ data.to }}" id="html5-datetime-local-input">
                                    </div>
                                    <div class="mb-3 col-md-6">
<!--                                        <label for="username" class="form-label">Процедура</label>-->
<!--                                        <input-->
<!--                                                type="text"-->
<!--                                                class="form-control"-->
<!--                                                id="username"-->
<!--                                                name="username"-->
<!--                                                value=""-->
<!--                                        />-->

                                        <label class="form-label" for="pet-select">Процедура:</label>

                                        <select name="pets" class="form-control" id="pet-select">
                                            <option value="">Тисни та обирай</option>
                                            {% for i in work %}
                                            <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="mb-3 col-md-6">
<!--                                        <label for="username" class="form-label">Процедура</label>-->
<!--                                        <input-->
<!--                                                type="text"-->
<!--                                                class="form-control"-->
<!--                                                id="username"-->
<!--                                                name="username"-->
<!--                                                value=""-->
<!--                                        />-->

                                        <label class="form-label" for="pet-select">Майстер:</label>

                                        <select name="pets" class="form-control" id="pet-select">
                                            <option value="">Тисни та обирай</option>
                                            {% for i in worker %}
                                            <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                <div class="mt-2">
                                    <button type="submit" class="mb-3 btn btn-primary me-2">Фільтр</button> <small style="margin: auto;">- Фільтруй свій пошук</small>
                                </div>

<!--                |update_param:'page=8' -->
            </div></form></div>
            <div class="card">
                <h5 class="card-header">Знайдені записи</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>

                        <tr>
                            <th>Дії</th>
                            <th>Клієнт</th>
                            <th>Мобільний</th>
                            <th>Дата</th>
                            <th>Початок</th>
                            <th>Ціна</th>
                            <th>Майстер</th>
                            <th>Процедура</th>
                            <th>Статус</th>

                        </tr>
                        </thead>
                        {% for i in record %}
                          <div class="modal" id="modalScrollable{{ i.user.id }}" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <form method="post">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modalScrollableTitle">Повідомлення</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="col-md-12">
                                          <div class="card mb-4">
                                            <h5 class="card-header">Повідомлення до: {{i.user.name}}</h5>

                                            <div class="card-body demo-vertical-spacing demo-only-element">
                                              <div class="input-group input-group-merge">
                                                <input type="text" name='header' class="form-control" placeholder="Заголовок" aria-label="Заголовок" aria-describedby="basic-addon-search31">
                                              </div>
                                              <div style="display: none;">
                                                <input type="text" name="user" value="{{ i.user.chat_id }}">
                                              </div>
                                              <div class="input-group input-group-merge">
                                                <textarea class="form-control" name="text" placeholder="Текст..." aria-label="With textarea"></textarea>
                                              </div>
                                            </div>
                                                  {% csrf_token %}
                                          </div>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Передумав
                                          </button>
                                          <button type="submit" class="btn btn-primary">Надіслати</button>
                                        </div>
                                      </div>
                                    </form>
                                    </div>
                                  </div>

                        <tr><td>
                            <div class="dropdown">
                                {% if i.user.chat_id %}
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                                {% else %}
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i  style="color:red"  class="bx bx-dots-vertical-rounded"></i></button>
                                {% endif %}
                              <div class="dropdown-menu">
                                  {% if i.user.chat_id %}
                                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalScrollable{{ i.user.id }}"><i class="bx bx-edit-alt me-1"></i> Написати</button>
<!--                                <a class="dropdown-item" href="/work"><i class="bx bx-edit-alt me-1"></i> Написати</a>-->
                                  {% else %}

                                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalScrollable{{ i.user.id }}"><i class="bx bx-edit-alt me-1"></i> Написати</button>
<!--                                <a class="dropdown-item" style="color:red" href="/work"><i class="bx bx-edit-alt me-1"></i> Написати</a>-->
                                  {% endif %}
                                  <a class="dropdown-item" href="/work"><i class="menu-icon tf-icons bx bx-support"></i> Подзвонити</a>
                            </div>
                            </div></td>
                            <td><a href="{% url 'up_record' i.id %}"><strong>{{ i.user.name }}</strong></a></td>
                            <td>{{ i.user.phone_number }}</td>
                            <td>{{ i.day }}</td>
                            <td>{{ i.start_time }} год.</td>
                            <td>{{ i.work.price }} грн.</td>
                            <td>{{ i.worker.first_name }}</td>
                            <td>{{ i.work.name }}</td>

                                        {% if i.available %}
                            <td style="color: #696cff;">Відкрито</td>
                                        {% else %}
                            <td style="color: red;">Скасовано</td>
                                        {% endif %}



<!--                            <td>-->

<!--                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Lilian Fuller"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Sophia Wilkerson"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Christina Parker"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </td>-->
<!--                            <td><span class="badge bg-label-primary me-1">Active</span></td>-->
<!--                            <td>-->
<!--                                <div class="dropdown">-->
<!--                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"-->
<!--                                            data-bs-toggle="dropdown">-->
<!--                                        <i class="bx bx-dots-vertical-rounded"></i>-->
<!--                                    </button>-->
<!--                                    <div class="dropdown-menu">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0);"-->
<!--                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
<!--                                        >-->
<!--                                        <a class="dropdown-item" href="javascript:void(0);"-->
<!--                                        ><i class="bx bx-trash me-1"></i> Delete</a-->
<!--                                        >-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <!--/ Basic Bootstrap Table -->

            <hr class="my-5"/>

            <!-- / Content -->
            {% endblock %}