{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page" xmlns="http://www.w3.org/1999/html">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                    />
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href="https://github.com/themeselection/sneat-html-admin-template-free"
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                    >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/1.png" alt
                                                 class="w-px-40 h-auto rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">John Doe</span>
                                        <small class="text-muted">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Майстри /</span> Всі майстри</h4>
            <ul class="nav nav-pills flex-column flex-md-row mb-3">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'worker' %}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-plus" viewBox="0 0 16 16">
                            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                            <path fill-rule="evenodd"
                                  d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                        </svg>
                        Додати майстра</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Майстри</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'calendar' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-calendar" viewBox="0 0 16 16">
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                        </svg>
                        Графік</a>
                </li>
            </ul>
            <!-- Basic Bootstrap Table -->
            <div class="card">
                <form method="post" action="{% url 'update_workers' %}">
                <h5 class="card-header">Майстри</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>

                        <tr>
                            <th>id</th>
                            <th>ім'я</th>
                            <th>прізвище</th>
                            <th>мобільний</th>
                            <th>прийшла</th>
                            <th>пішла</th>

                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for i in workers %}
                        <tr>
                            <td style="color: #696cff;"><strong>{{ i.id }}</strong></td>
                            <td><input style="width: 200px;" class="form-control" name="first_name" placeholder="{{ i.first_name }}" type="text" value="{{ i.first_name }}"></td>
                            <td><input style="width: 250px;" class="form-control" name='last_name' placeholder="{{ i.last_name }}" type="text" value="{{ i.last_name }}"></td>
                            <td style="display: none;"><input style="width: 150px;" class="form-control" name="chat_id" placeholder="{{ i.chat_id }}" type="number" value="{{ i.chat_id }}"></td>
                            <td><input style="width: 200px;" class="form-control" name="phone_number" placeholder="{{ i.phone_number }}" type="text" value="{{ i.phone_number }}"></td>
                            <td><input style="width: 150px;" class="form-control" name="start_work" step="1800" type="time" value="{{ i.start_work }}:00" id="html5-time-input"></td>
                            <td><input style="width: 150px;" class="form-control" name="end_work" step="1800" type="time" value="{{ i.end_work }}:00" id="html5-time-input"></td>
                            <td><div class="dropdown">
                              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'work' %}"><i class="bx bx-edit-alt me-1"></i> Змінити</a>
                                <div class="col-3 text-end">
                                    <div class="form-check form-switch">
                                        {% if i.available %}
                                            <input class="form-check-input float-end" name="available_{{ i.chat_id }}" type="checkbox" role="switch" checked="">
                                        {% else %}
                                            <input class="form-check-input float-end" name="available_{{ i.chat_id }}" type="checkbox" role="switch">
                                        {% endif %}
                                    </div>
                              </div>
                            </div>
                            </td>

<!--                            <td>-->

<!--                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Lilian Fuller"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Sophia Wilkerson"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Christina Parker"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </td>-->
<!--                            <td><span class="badge bg-label-primary me-1">Active</span></td>-->
<!--                            <td>-->
<!--                                <div class="dropdown">-->
<!--                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"-->
<!--                                            data-bs-toggle="dropdown">-->
<!--                                        <i class="bx bx-dots-vertical-rounded"></i>-->
<!--                                    </button>-->
<!--                                    <div class="dropdown-menu">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0);"-->
<!--                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
<!--                                        >-->
<!--                                        <a class="dropdown-item" href="javascript:void(0);"-->
<!--                                        ><i class="bx bx-trash me-1"></i> Delete</a-->
<!--                                        >-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                          {% csrf_token %}
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Зберегти</button>
                <button type="reset" class="btn btn-outline-secondary">Скасувати</button>
            </div>
            </form>
        </div>
            <!--/ Basic Bootstrap Table -->

            <hr class="my-5"/>

            <!-- / Content -->
            {% endblock %}