{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

          <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
          >
            <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
              <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
              </a>
            </div>

            <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
              <!-- Search -->
              <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                  <i class="bx bx-search fs-4 lh-0"></i>
                  <input
                    type="text"
                    class="form-control border-0 shadow-none"
                    placeholder="Search..."
                    aria-label="Search..."
                  />
                </div>
              </div>
              <!-- /Search -->

              <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                  <a
                    class="github-button"
                    href="https://github.com/themeselection/sneat-html-admin-template-free"
                    data-icon="octicon-star"
                    data-size="large"
                    data-show-count="true"
                    aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                  >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                  <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                      <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                    </div>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a class="dropdown-item" href="#">
                        <div class="d-flex">
                          <div class="flex-shrink-0 me-3">
                            <div class="avatar avatar-online">
                              <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                            </div>
                          </div>
                          <div class="flex-grow-1">
                            <span class="fw-semibold d-block">John Doe</span>
                            <small class="text-muted">Admin</small>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">My Profile</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <i class="bx bx-cog me-2"></i>
                        <span class="align-middle">Settings</span>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item" href="auth-login-basic.html">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Log Out</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <!--/ User -->
              </ul>
            </div>
          </nav>

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light"></span> Додавай послугу</h4>

              <!-- Basic Layout -->
              <div class="row">
                <div class="col-xl">
                  <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                      <h5 class="mb-0">Додавай послугу</h5>
                      <small class="text-muted float-end">Внось інформацію</small>
                    </div>
                    <div class="card-body">
                      <form id="formAccountSettings" method="POST">
                        <div class="mb-3">
                          <label class="form-label" for="name">Назва послуги</label>
                          <input type="text" class="form-control" id="name" name="name" placeholder="Ноготочки" value="{{ work.name }}" />
                        </div>
                        <div class="mb-3">

                          <label class="form-label" for="available">Відображати:</label>
                        <div class="form-check form-switch">

                        {% if work.available %}
                                            <input class="form-check-input float-start" id="available" name="available" type="checkbox" role="switch" checked="">
                          {% else %}
                                            <input class="form-check-input float-start" id="available" name="available" type="checkbox" role="switch">
                          {% endif %}

                                    </div>
                        </div>
                        <div class="mb-3">
                          <label class="form-label" for="price">Ціна</label>
                          <input type="number" class="form-control" name="price" id="price" placeholder="120" value="{{ work.price }}"/>
                        </div>
<!--                        <div class="mb-3">-->
<!--                          <label class="form-label" for="company">Token</label>-->
<!--                          <div class="input-group input-group-merge">-->
<!--                            <input-->
<!--                                    name="company"-->
<!--                              type="text"-->
<!--                              id="company"-->
<!--                              class="form-control"-->
<!--                            />-->
<!--                            <span class="input-group-text" id="basic-default-email2">TOKEN</span>-->
<!--                          </div>-->
<!--                          <div class="form-text">Це необхідно, щоб послуга прикріпилась з вашим ботом</div>-->
<!--                        </div>-->
                        <div class="mb-3">
                          <label class="form-label" for="time">Час виконання (якщо 2 години, то число 4, все ділю по пів години)</label>
                          <input
                                  name="time"
                            type="number"
                            id="time"
                            class="form-control phone-mask"
                            placeholder="4"
                                  value="{{ work.time }}"
                          />
                        </div>

                        <div class="mb-3">
                          <label class="form-label" for="interval">Інтервал відвідування послуги (В днях)</label>
                          <input name="interval"
                            type="number"
                            id="interval"
                            class="form-control phone-mask"
                            placeholder="31"
                                 value="{{ work.interval }}"
                          />
                        </div>

                          <label class="form-label" for="worker">Обери майстра</label>

                        <div class="mb-3" id="master">
                              {% for worker in work.worker.all %}
                          <div class="input-group input-group-merge">
                            <select class="form-control" name="worker">
                                  <option value="{{ worker.chat_id }}">{{worker.first_name}} {{worker.last_name}}</option>

                                  <option value="">Ніхто</option>
                                  {% for worker_op in workers %}
                                  <option value="{{ worker_op.chat_id }}">{{worker_op.first_name}} {{worker_op.last_name}}</option>
                            {% endfor %}

                            </select>
<!--                            <input-->
<!--                                    name="worker"-->
<!--                              type="text"-->
<!--                              id="worker"-->
<!--                            placeholder="537238295"-->
<!--                              class="form-control"-->
<!--                            />-->
<!--                            <span class="input-group-text" id="basic-default-email1">/get_chat_id</span>-->

                          </div>

                            {% endfor %}
                          <div class="form-text">Це необхідно, щоб послуга прикріпилась до майстра</div>

                        </div>
                        <div>
                        <button type="button" id="addButton" class="btn btn-success">Додати ще</button></div>
                        <div class="mb-3">
                          <label class="form-label" for="descriptions">Опис</label>
                          <textarea
                            id="descriptions"
                            name="descriptions"
                            class="form-control"
                            placeholder="Коротенько опиши, щоб я купив">{{ work.descriptions }}</textarea>
                          {% csrf_token %}
                        </div>

                        <button type="submit" class="btn btn-primary">Зберегти</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <script>
  document.getElementById("addButton").onclick = function(e) {
    var x = document.getElementById("master");
    var br = document.createElement("br");
    var dev = document.createElement("div");
    dev.className = "input-group input-group-merge";
    var inp = document.createElement("select");
    inp.innerHTML = '<option value="">Тисни та обирай</option>{% for worker in workers %}<option value="{{ worker.chat_id }}">{{ worker.first_name }} {{ worker.last_name }}</option>{% endfor %}';
    inp.name = "worker";
    inp.className = "form-control";
    x.appendChild(br);
    dev.appendChild(inp)
    x.appendChild(dev);
    }
</script>
{% endblock %}