{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <form method="get">
                    <input
                            name="client"
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Знайти клієнта..."
                            aria-label="Search..."
                    /></form>
                </div>
            </div>
            <!-- /Search -->

<!--            <ul class="navbar-nav flex-row align-items-center ms-auto">-->
<!--                &lt;!&ndash; Place this tag where you want the button to render. &ndash;&gt;-->
<!--                <li class="nav-item lh-1 me-3">-->
<!--                    <a-->
<!--                            class="github-button"-->
<!--                            href="https://github.com/themeselection/sneat-html-admin-template-free"-->
<!--                            data-icon="octicon-star"-->
<!--                            data-size="large"-->
<!--                            data-show-count="true"-->
<!--                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"-->
<!--                    >Star</a-->
<!--                    >-->
<!--                </li>-->

<!--                &lt;!&ndash; User &ndash;&gt;-->
<!--                <li class="nav-item navbar-dropdown dropdown-user dropdown">-->
<!--                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">-->
<!--                        <div class="avatar avatar-online">-->
<!--                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                    <ul class="dropdown-menu dropdown-menu-end">-->
<!--                        <li>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <div class="d-flex">-->
<!--                                    <div class="flex-shrink-0 me-3">-->
<!--                                        <div class="avatar avatar-online">-->
<!--                                            <img src="../assets/img/avatars/1.png" alt-->
<!--                                                 class="w-px-40 h-auto rounded-circle"/>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="flex-grow-1">-->
<!--                                        <span class="fw-semibold d-block">John Doe</span>-->
<!--                                        <small class="text-muted">Admin</small>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <div class="dropdown-divider"></div>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <i class="bx bx-user me-2"></i>-->
<!--                                <span class="align-middle">My Profile</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                                <i class="bx bx-cog me-2"></i>-->
<!--                                <span class="align-middle">Settings</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a class="dropdown-item" href="#">-->
<!--                        <span class="d-flex align-items-center align-middle">-->
<!--                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>-->
<!--                          <span class="flex-grow-1 align-middle">Billing</span>-->
<!--                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>-->
<!--                        </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <div class="dropdown-divider"></div>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <a class="dropdown-item" href="auth-login-basic.html">-->
<!--                                <i class="bx bx-power-off me-2"></i>-->
<!--                                <span class="align-middle">Log Out</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                &lt;!&ndash;/ User &ndash;&gt;-->
<!--            </ul>-->
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper h-100">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y h-100"><div class="col-md-12 col-lg-12 order-2 mb-4">

                  <div class="card h-100">
                    <div class="card-header d-flex align-items-center justify-content-between">
                      <h5 class="card-title m-0 me-2">Клієнти</h5>
                      <div class="dropdown">
                        <button class="btn p-0" type="button" id="transactionID" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="transactionID">
                          <a class="dropdown-item" href="{% url 'export_users' %}">export</a>
<!--                          <a class="dropdown-item" href="javascript:void(0);">Last Month</a>-->
<!--                          <a class="dropdown-item" href="javascript:void(0);">Last Year</a>-->
                        </div>
                      </div>
                    </div>

                    <div class="card-body">
                      <ul class="p-0 m-0">
                          {% for user in users %}
                          {% if user.chat_id %}
                          <div class="modal" id="modalScrollable{{ user.id }}" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <form method="post">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="modalScrollableTitle">Повідомлення</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="col-md-12">
                                          <div class="card mb-4">
                                            <h5 class="card-header">Повідомлення до: {{user.name}}</h5>

                                            <div class="card-body demo-vertical-spacing demo-only-element">
                                              <div class="input-group input-group-merge">
                                                <input type="text" name='header' class="form-control" placeholder="Заголовок" aria-label="Заголовок" aria-describedby="basic-addon-search31">
                                              </div>
                                              <div style="display: none;">
                                                <input type="text" name="user" value="{{ user.chat_id }}">
                                              </div>
                                              <div class="input-group input-group-merge">
                                                <textarea class="form-control" name="text" placeholder="Текст..." aria-label="With textarea"></textarea>
                                              </div>
                                            </div>
                                                  {% csrf_token %}
                                          </div>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                                            Передумав
                                          </button>
                                          <button type="submit" class="btn btn-primary">Надіслати</button>
                                        </div>
                                      </div>
                                    </form>
                                    </div>
                                  </div>
                          {% endif %}

                        <li class="d-flex mb-4 pb-1">
<!--                          <div class="avatar flex-shrink-0 me-3">-->
<!--                            <img src="../assets/img/icons/unicons/paypal.png" alt="User" class="rounded">-->
<!--                          </div>-->
                          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
                            <div class="me-2">
                              <h6 class="text-muted d-block mb-1"><strong><a href="{% url 'user_detail' user.id %}">{{ user.name }} - {{ user.id }}</a></strong></h6>
                              <h6 class="mb-0">{{ user.phone_number }} - <a href="tel:{{ user.phone_number }}"><i class='bx bxs-phone-call' ></i></a> </h6>
                            </div>
                              {% if user.chat_id %}
                            <div class="user-progress d-flex align-items-center gap-1">
                              <h6 class="mb-0"><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalScrollable{{ user.id }}">
                          Написати
                        </button></h6>
<!--                              <span class="text-muted">USD</span>-->
                            </div>
                              {% endif %}
                          </div>
                        </li>
                          <hr/>
                          {% endfor %}
                          <script>
function buy() {
    $("#idForm").submit(function(e) {

        e.preventDefault(); // avoid to execute the actual submit of the form.
        e.stopImmediatePropagation();
        var form = $(this);
        var actionUrl = form.attr('action');


        $.ajax({
            type: "GET",
            url: actionUrl,

            data: form.serialize(), // serializes the form's elements.


            success : function(response){
            console.log("ok")
          alert(response["detail"]);
        },error: function(data){
        console.log("no")
            alert("fail");
        }
        });

    });

    };
    </script>
                      </ul>
                    </div>
                  </div>
                </div>

            <script>

            </script>

<!--            <select name="user_cars[]" multiple="multiple" size="4">-->
<!--  <option value="1">Nissan</option>-->
<!--  <option value="2">Toyota</option>-->
<!--  <option value="3">BMW</option>-->
<!--  <option value="4">Wolksvagen</option>-->
<!--  <option value="5">Skoda</option>-->
<!--  <option value="6">Mercedes-Benz</option>-->
<!--</select>-->
<!--            <select  required="required">-->


<!--  <option>Пункт 1</option>-->


<!--  <option>Пункт 2</option>-->


<!--</select>-->
            <!--/ Basic Bootstrap Table -->

            <hr class="my-5"/>



            <!-- / Content -->
            {% endblock %}