{% extends 'base.html' %}
{% block body %}
<!-- Layout container -->
<div class="layout-page" xmlns="http://www.w3.org/1999/html">
    <!-- Navbar -->

    <nav
            class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
            id="layout-navbar"
    >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
            <!-- Search -->
            <div class="navbar-nav align-items-center">
                <div class="nav-item d-flex align-items-center">
                    <i class="bx bx-search fs-4 lh-0"></i>
                    <input
                            type="text"
                            class="form-control border-0 shadow-none"
                            placeholder="Search..."
                            aria-label="Search..."
                    />
                </div>
            </div>
            <!-- /Search -->

            <ul class="navbar-nav flex-row align-items-center ms-auto">
                <!-- Place this tag where you want the button to render. -->
                <li class="nav-item lh-1 me-3">
                    <a
                            class="github-button"
                            href="https://github.com/themeselection/sneat-html-admin-template-free"
                            data-icon="octicon-star"
                            data-size="large"
                            data-show-count="true"
                            aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
                    >Star</a
                    >
                </li>

                <!-- User -->
                <li class="nav-item navbar-dropdown dropdown-user dropdown">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                        <div class="avatar avatar-online">
                            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle"/>
                        </div>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="#">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar avatar-online">
                                            <img src="../assets/img/avatars/1.png" alt
                                                 class="w-px-40 h-auto rounded-circle"/>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <span class="fw-semibold d-block">John Doe</span>
                                        <small class="text-muted">Admin</small>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-user me-2"></i>
                                <span class="align-middle">My Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                                <i class="bx bx-cog me-2"></i>
                                <span class="align-middle">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#">
                        <span class="d-flex align-items-center align-middle">
                          <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                          <span class="flex-grow-1 align-middle">Billing</span>
                          <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
                        </span>
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="auth-login-basic.html">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <!--/ User -->
            </ul>
        </div>
    </nav>

    <!-- / Navbar -->

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content -->

        <div class="container-xxl flex-grow-1 container-p-y">
            <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Послуги /</span> Всі послуги</h4>

            <!-- Basic Bootstrap Table -->
            <div class="card">
                <h5 class="card-header">Послуги</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table">
                        <thead>

                        <tr>
                            <th>Назва</th>
                            <th>Час</th>
                            <th>Ціна</th>
                            <th>Наявність</th>

                        </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for i in works %}
                        <tr>
                            <td><a href="{% url 'up_work' i.id %}"><strong>{{ i.name }}</strong></a></td>
                            <td>{{ i.time }} год.</td>
                            <td>{{ i.price }} грн.</td>
                                        {% if i.available %}
                            <td style="color: #696cff;">Відображається</td>
                                        {% else %}
                            <td style="color: red;">Приховано</td>
                                        {% endif %}



<!--                            <td>-->

<!--                                <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Lilian Fuller"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/5.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Sophia Wilkerson"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/6.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                    <li-->
<!--                                            data-bs-toggle="tooltip"-->
<!--                                            data-popup="tooltip-custom"-->
<!--                                            data-bs-placement="top"-->
<!--                                            class="avatar avatar-xs pull-up"-->
<!--                                            title="Christina Parker"-->
<!--                                    >-->
<!--                                        <img src="../assets/img/avatars/7.png" alt="Avatar" class="rounded-circle"/>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </td>-->
<!--                            <td><span class="badge bg-label-primary me-1">Active</span></td>-->
<!--                            <td>-->
<!--                                <div class="dropdown">-->
<!--                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow"-->
<!--                                            data-bs-toggle="dropdown">-->
<!--                                        <i class="bx bx-dots-vertical-rounded"></i>-->
<!--                                    </button>-->
<!--                                    <div class="dropdown-menu">-->
<!--                                        <a class="dropdown-item" href="javascript:void(0);"-->
<!--                                        ><i class="bx bx-edit-alt me-1"></i> Edit</a-->
<!--                                        >-->
<!--                                        <a class="dropdown-item" href="javascript:void(0);"-->
<!--                                        ><i class="bx bx-trash me-1"></i> Delete</a-->
<!--                                        >-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </td>-->
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
            <!--/ Basic Bootstrap Table -->

            <hr class="my-5"/>

            <!-- / Content -->
            {% endblock %}